# Secrets and API Keys
.env

# Python specific
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Data and DBs (Recommended for large datasets or local DBs)
src/vectordb/chroma_db/
src/vectordb/chroma_store/

# OS specific
.DS_Store