langgraph
langchain-groq   
langchain
langchain-community
langchain-huggingface
langchain-chroma
pandas
numpy
scikit-learn
xgboost
joblib
chromadb
sentence-transformers
reportlab
streamlit
python-dotenv